
<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0 text-center">Edit Employee SignUp Page!!</h3>
            <!-- <span class="card bg-danger text-white text-center" *ngIf="!islogin">Invalid Email and Password!!</span> -->
          </div>
          <div class="card-body">
            <form [formGroup]="employeeRegForm" (ngSubmit)="onEditEmployeeRegForm()">
              
              <div class="form-group">
                <label for="">Id:
                  
                </label>
                <input type="text"  class="form-control" placeholder="Enter Emp ID *" formControlName="id"/>
              </div>

                <div class="form-group">
                    <label for="">Title:</label>
                    <input type="text"  class="form-control" placeholder="Enter Your Title *" formControlName="title"/>
                  </div>

                <div class="form-group">
                    <label for="">Name:</label>
                    <input type="text" class="form-control" placeholder="Enter Your Name *" formControlName="name" />
                  </div>

              <div class="form-group">
                <label for="">Email:</label>
                <input type="text" class="form-control" placeholder="Enter Your Email *" formControlName="email" />
              </div>

              <div class="form-group">
                <label for="">Hire Date:</label>
                <input type="date" class="form-control"  formControlName="hireDate" />
              </div>

              <div class="form-group">
                <label for="">Job Title:</label>
                <input type="text" class="form-control" placeholder="Enter Your Job Title *"  formControlName="jobTitle" />
              </div>
              
              <div class="form-group">
                <label for="">Location:</label>
                <input type="text"  class="form-control" placeholder="Enter Your location *" formControlName="location"/>
              </div>

              <div class="form-group">
                <label for="">Department:</label>
                <input type="text"  class="form-control" placeholder="Enter Your Department *" formControlName="department"/>
              </div>

             
              <div class="form-group">
                <label for="">Roll Type:</label>
                <input type="text"  class="form-control" placeholder="Enter Your Roll type *" formControlName="rollType"/>
              </div>

              <div class="form-group">
                <label for="">Gender:</label><br>
                <input id="male" type="radio" value="male" name="gender" formControlName="gender"> Male
                <input id="male" type="radio" value="female" name="gender" formControlName="gender"> Female
              </div>

             
               <!-- <td>
                <img [src]="photo" alt="Image Source" style="width:80px;height:80px">
              </td>
              <div>
                <input type="file" (change)="onFileSelected($event)"/>
              </div> -->

              <input type="submit" style="width: 160px" class="btn btn-success"  value="Update Profile"/>
            </form>
          </div>
         
        </div>
      </div>
  
   </div>
</div>   
  
