<div class="row">
    <div class="col-lg-6 mb-4"> 
        <div class="card">                               
               <div class="card-header">
                    <h4 class="text-primary">Reminders</h4>
               </div><span class="border border-success"></span>
               <div class="card-body">
                    <p>Please Compelte your <a routerLink="../dashboard">Profile</a> immediately.</p><hr>
                    <p>Please Compelte your oranization's <a routerLink="../dashboard">KYC</a></p><hr>
                    <p>Please update your EPFO  <a routerLink="../dashboard">Credential</a></p><hr>
               </div>
        </div>
    </div>


    <div class="col-lg-6 mb-4"> 
        <div class="card"> 
        
                <div class="card-header">
                    <h4 class="text-primary">Qiuck Links</h4>
               </div><span class="border border-success"></span>
               <div class="card-body">
                    <p><a routerLink="../dashboard">Add an Employee or contractor</a> </p><hr>
                    <p><a routerLink="../dashboard">Employee Dictonary</a></p><hr>
                    <p><a routerLink="../dashboard">Create an Announcement</a></p><hr>
               </div>                                                           
        </div>
    </div>
</div>